<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feliz 14 Nena</title>
    <link rel="stylesheet" type="text/css"  href="/css/site.css">

</head>
<body>
    <div class="loveImg">
        <img src="img/love.jpeg"/>
    </div>
    <div class="letritas">
        <h4>
            No pudiera dedicarte solo una cancion, pero en este momento esta me recuerda a ti: <a href="https://youtu.be/-es0Ad64LTU?si=YmQZLiqDMn-bLCid" target="_blank"> escuchala</a> <br /> me hace sentir el corazon llenito, como tu a mi
        </h4>
    </div>
    <div class="imgLov">
        <img src="img/777.jpeg" />
    </div>
    <div id="card">
        <center><h1>FELIZ 14 DE FEBRERO AMOR </h1></center>
        <div class="heart" id="heart1">
            <div id="half1">
                <div id="circle"></div>
                <div id="rec"></div>
            </div>
            <div id="half2">
                <div id="circle"></div>
                <div id="rec"></div>
            </div>
        </div>
        <div id="message">
            <h2>Feliz primer valentin princesa
                Que seas para siempre, eres el amor de mi vida y soy muy afortunado de tenerte en mi vida 💘
                Te prometo que siempre te cuidare y estare contigo, gracias por hacerme sentir lo que realmente es el amor, por hacerme sentir amado y sentir que tengo un hogar contigo.
            </h2>
        </div>
        <div class="heart" id="heart2">
            <div id="half1">
                <div id="circle"></div>
                <div id="rec"></div>
            </div>
            <div id="half2">
                <div id="circle"></div>
                <div id="rec"></div>
            </div>
        </div>
    </div>
    

</body>
</html>